
@{
    ViewBag.Title = "Index";
}
<script src="~/FacebookScript/Facebook.js"></script>
<h2>Index</h2>

<h2>Part 1 - Facebook Login Button</h2>
<div class="fb-like"
     data-share="true"
     data-width="450"
     data-show-faces="true">
</div>


<fb:login-button autologoutlink="true" perms="read_friendlists, create_event, email, publish_stream" target="_top"></fb:login-button>

<p>Facebook Access Token: @Session["accessToken"]</p>
<p>Facebook User Id: @Session["uid"]</p>

<p>If you're not getting javascript prompts on each window load, make sure facebook app id in web config is correct.</p>


<div id="fb-root"></div>
@section scripts {
    @*<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/FacebookScript/Facebook.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            InitialiseFacebook(@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]);
        });
    </script>
}